// Google Fonts
@import url(https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans:400,700);

$open-sans: 'Open Sans', sans-serif;

$bgColor: #f0f0f0;
$primaryBtn: #007ee5;
$star: #007ee5;
$button: #007ee5;
$info: #63696d;
$name: #3f454a;
$plus: #a6b0b7;
$camera: #9ca8b2;
$pencilIconBg: #ecf1f5;
$tabsBg: #f5f8f8;

$big-screen: "only screen and (min-width: 800px)";