@import "./variables";

html, body {
    background-color: $bgColor;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $open-sans;
    border: none;
}

// HEADER
header {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    #button {
        display: flex;
        justify-content: flex-end;
    }
    button {
        color: $button;
        background-color: $bgColor;
        font-weight: bold;
        padding-bottom: 20px;
        border: 0;
        outline: 0;
    }
    #upload {
        display: none;
    }
    h5 {
        text-align: center;
        color: $name;
        font-size: 20px;
        margin: 10px 0;
        font-weight: 500;
    }
    p {
        font-size: 13px;
        color: $info;
        margin: 5px 0px;
        span {
            font-weight: 600;
        }
    }
    img {
        display: flex;
        margin: 0 auto;
        height: 150px;
        width: 170px;
        z-index: 99;
        box-shadow: 0 0px 2px 0 $plus;
    }

    ion-icon {
        color: $star;
        &[name="call-outline"],
        &[name="location-outline"],
        &[name="add-circle"] {
            color: $info;
            font-size: 22px;
            position: relative;
            top: 6px;
            left: 0;
            opacity: 0.5;
            &[name="add-circle"] {
                font-size: 28px;
                top: 9px;
                color: $plus;
                opacity: 1;
            }
        }
    }
}

// MENU
.menu {
    //display: flex;
    overflow-x: scroll;
    background-color: #fff;
    box-shadow: 0 0px 2px 0 $info;
    &:after {
        content: "";
        position: fixed;
        z-index: 99;
        top: 422px;
        right: 0;
        bottom: 0;
        height: 50px;
        pointer-events: none;
        background-image: linear-gradient(to right, rgba(255,255,255,0), #fff 85%);
        width: 10%;
      }
      &::before {
        content: "";
        position: fixed;
        z-index: 99;
        top: 422px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 50px;
        pointer-events: none;
        background-image: linear-gradient(to left, rgba(255,255,255,0), #fff 85%);
        width: 4%;
      }
    &::-webkit-scrollbar {
        display: none;
    }
    ul {
        display: flex;
        padding: 0 15px;
    }
    ul button {
        font-size: 13px;
        font-family: $open-sans;
        color: $info;
        padding: 0 15px;
        border: 0;
        outline: 0;
        background-color: #fff;
        position: relative;
    }
    .active::after {
        content: '';
        width: 80%;
        position: absolute;
        left: 6px;
        bottom: -16px;
        border-width: 0 0 2px;
        border-style: solid;
        color: $button;
    }
}

// TABS
#tabs {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 5px 15px 50px 15px;
    margin: 10px 0;
    .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
            background-color: $pencilIconBg;
            height: 28px;
            width: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            ion-icon[name="pencil-sharp"]{
                height: 16px;
                width: 16px;
            }
        }
        h2 {
            color: $info;
            opacity: 0.6;
            font-weight: 500;
        }
        // Mobile Editting
        section button {
            background-color: #fff;
            border: 1px solid #fff;
            color: $button;
            font-size: 14px;
        }
    }
    form {
      .input-field {
        position: relative;
        width: 250px;
        height: 44px;
        line-height: 44px;
        label {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            color: #d3d3d3;
            transition: 0.2s all;
            font-size: 14px;
            cursor: text;
        }
        input {
            width: 100%;
            border: 0;
            outline: 0;
            padding: 0.5rem 0;
            border-bottom: 1px solid #d3d3d3;
            box-shadow: none;
            color: #111;
        }
        input:focus,
        input:valid {
            border-color: $plus;
        }
        input:focus~label,
        input:valid~label {
            font-size: 12px;
            top: -24px;
            color: $info;
        }
    }}
    .contact {
        display: flex;
        flex-direction: column;

        div {
            color: $info;
            padding: 10px 5px;
        }
    }
    #desktopPencil,
    #desktopPencil2,
    #desktopPencil3,
    #desktopPencil4 {
        display: none;
    }
    #modal,
    #modal2,
    #modal3,
    #modal4 {
        display: none;
    }
}

// RESPONSIVENESS
@media #{$big-screen} {
    //HEADER
    header {
        background-color: fff;
        display: flex;
        button {
            background-color: #fff;
            outline: 0;
            border: 1px solid $primaryBtn;
            border-radius: 3px;
            padding: 10px 20px;
            text-align: center;   
        }
    }
    #head {
        width: 80%;
        margin: 50px auto;
        #upload {
            display: block;
            position: relative;
            color: $info;
            border: 1px solid $camera;
            margin: 0 auto;
            font-weight: 400;
            top: 50px;
            left: 0;
            ion-icon[name="camera"] {
                color: $camera;
                padding-right: 10px;
            }
            opacity: 0.5;
        }
        #info {
            display: flex;
            flex: 1;
            flex-direction: row;
            position: relative;
        }
        img {
            margin: auto 0;
            position: relative;
            top: 55px;
            left: 0;
        }
        #info-contact {
            display: flex;
            flex-direction: column;
            padding: 20px 0 0 20px;
            position: relative;
            margin: 0;
            top: 55px;
            left: 0;
            h5 {
                margin: 0;
                font-size: 16px;
                text-align: start;
                font-weight: 600;
            }
        }
        #rate {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex: 1;
            left: 80px;
            position: relative;
            ion-icon[name="star"],
            ion-icon[name="star-outline"] {
                color: $info;
            }
            p {
                padding-left: 20px;
            }
        }
        #follow {
            display: flex;
            align-items: flex-end;
            position: relative;
            top: 60px;
            left: 0;
            ion-icon[name="add-circle"] {
                top: 6px;
                left: -10px;
            }
        }
    }
    .menu {
        display: flex;
        padding: 0 175px;
        box-shadow: 0 0px 1px 0 $info;
        &:after {
            content: "";
            display: none;
        }
        &::before {
            content: "";
            display: none;
        }
        ul {
            display: inline;
        }
    }
    //TABS
    #tab {
        width: 80%;
        background-color: #fff;
        height: 400px;
        margin: 50px auto;
        #tabs {
            .about div {
                display: none;
            }
            .contact {
                display: table;
            }
            .contact div {
                display: table;
                position: relative;
                background-color: $tabsBg;
                margin: 1px 0;
                font-size: 14px;
                padding: 0;
                padding: 3px;
                #desktopPencil,
                #desktopPencil2,
                #desktopPencil3,
                #desktopPencil4 {
                    display: inline-flex;
                    flex-direction: column;
                    height: 28px;
                    width: 28px;
                    background-color: $pencilIconBg;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        background-color: $star;
                        color: #fff;
                    }

                    ion-icon[name="pencil-sharp"]{
                        height: 16px;
                        width: 16px;
                    }
                }
            }

            #modal,
            #modal2,
            #modal3,
            #modal4{
                background-color: #fff;
                box-shadow: 0 0px 5px 0 $plus;
                display: none;
                position:absolute;
                width:230px;
                height:110px;
                top: 20px;
                left: 120px;
                z-index: 99;
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 15%;
                    width: 0;
                    height: 0;
                    border: 10px solid transparent;
                    border-right-color: #fff;
                    border-left: 0;
                    margin-top: -10px;
                    margin-left: -10px;
                }
                form {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .input-field {
                        width: 200px;
                        margin: 20px 15px 0 15px;
                        background-color: #fff;
                        input {
                            color: $info;
                            padding-top: 15px;
                        }
                        label {
                            color: $info;
                            opacity: 0.5;
                            font-size: 10px;
                        }
                        section #save{
                            font-size: 10px;
                            background-color: $button;
                            color: #fff;
                            padding: 5px 20px;
                            border: 1px solid $button;
                            border-radius: 3px;
                            &:focus {
                                outline: 0;
                            }
                        }
                        section #cancel{
                            font-size: 10px;
                            background-color: #fff;
                            color: $button;
                            padding: 5px 15px;
                            border: 1px solid $button;
                            border-radius: 3px;
                            &:focus {
                                outline: 0;
                            }
                        }
                    }
                }
            }
            #modal2 {top: 20px; left: 145px; display: none;}
            #modal3 {top: 20px; left: 160px; display: none;}
            #modal4 {top: 15px; left: 170px; display: none;}
        }
    }
}

// CROSS-PLATFORM ADJUSTMENTS
// SAFARI
@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) {
        #head header { 
            display: block;
        }
        .menu {
            &:after {
                content: "";
                top: 426px;
                height: 52px;
                width: 10%;
            }
            &::before {
                content: "";
                top: 426px;
                height: 52px;
                width: 7%;
            }
        }
    }
}