@import url(https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans:400,700);
html, body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  border: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 15px;
}

header #button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header button {
  color: #007ee5;
  background-color: #f0f0f0;
  font-weight: bold;
  padding-bottom: 20px;
  border: 0;
  outline: 0;
}

header #upload {
  display: none;
}

header h5 {
  text-align: center;
  color: #3f454a;
  font-size: 20px;
  margin: 10px 0;
  font-weight: 500;
}

header p {
  font-size: 13px;
  color: #63696d;
  margin: 5px 0px;
}

header p span {
  font-weight: 600;
}

header img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  height: 150px;
  width: 170px;
  z-index: 99;
  -webkit-box-shadow: 0 0px 2px 0 #a6b0b7;
          box-shadow: 0 0px 2px 0 #a6b0b7;
}

header ion-icon {
  color: #007ee5;
}

header ion-icon[name="call-outline"], header ion-icon[name="location-outline"], header ion-icon[name="add-circle"] {
  color: #63696d;
  font-size: 22px;
  position: relative;
  top: 6px;
  left: 0;
  opacity: 0.5;
}

header ion-icon[name="call-outline"][name="add-circle"], header ion-icon[name="location-outline"][name="add-circle"], header ion-icon[name="add-circle"][name="add-circle"] {
  font-size: 28px;
  top: 9px;
  color: #a6b0b7;
  opacity: 1;
}

.menu {
  overflow-x: scroll;
  background-color: #fff;
  -webkit-box-shadow: 0 0px 2px 0 #63696d;
          box-shadow: 0 0px 2px 0 #63696d;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}

.menu ul button {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #63696d;
  padding: 0 15px;
  border: 0;
  outline: 0;
  background-color: #fff;
  position: relative;
}

.menu .active::after {
  content: '';
  width: 80%;
  position: absolute;
  left: 6px;
  bottom: -16px;
  border-width: 0 0 2px;
  border-style: solid;
  color: #007ee5;
}

#tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 5px 15px 50px 15px;
  margin: 10px 0;
}

#tabs .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tabs .about div {
  background-color: #ecf1f5;
  height: 28px;
  width: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tabs .about div ion-icon[name="pencil-sharp"] {
  height: 16px;
  width: 16px;
}

#tabs .about h2 {
  color: #63696d;
  opacity: 0.6;
  font-weight: 500;
}

#tabs .about section button {
  background-color: #fff;
  border: 1px solid #fff;
  color: #007ee5;
  font-size: 14px;
}

#tabs form .input-field {
  position: relative;
  width: 250px;
  height: 44px;
  line-height: 44px;
}

#tabs form .input-field label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  font-size: 14px;
  cursor: text;
}

#tabs form .input-field input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 1px solid #d3d3d3;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #111;
}

#tabs form .input-field input:focus,
#tabs form .input-field input:valid {
  border-color: #a6b0b7;
}

#tabs form .input-field input:focus ~ label,
#tabs form .input-field input:valid ~ label {
  font-size: 12px;
  top: -24px;
  color: #63696d;
}

#tabs .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#tabs .contact div {
  color: #63696d;
  padding: 10px 5px;
}

#tabs #desktopPencil,
#tabs #desktopPencil2,
#tabs #desktopPencil3,
#tabs #desktopPencil4 {
  display: none;
}

#tabs #modal,
#tabs #modal2,
#tabs #modal3,
#tabs #modal4 {
  display: none;
}

@media only screen and (min-width: 800px) {
  header {
    background-color: fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header button {
    background-color: #fff;
    outline: 0;
    border: 1px solid #007ee5;
    border-radius: 3px;
    padding: 10px 20px;
    text-align: center;
  }
  #head {
    width: 80%;
    margin: 50px auto;
  }
  #head #upload {
    display: block;
    position: relative;
    color: #63696d;
    border: 1px solid #9ca8b2;
    margin: 0 auto;
    font-weight: 400;
    top: 50px;
    left: 0;
    opacity: 0.5;
  }
  #head #upload ion-icon[name="camera"] {
    color: #9ca8b2;
    padding-right: 10px;
  }
  #head #info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
  }
  #head img {
    margin: auto 0;
    position: relative;
    top: 55px;
    left: 0;
  }
  #head #info-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0 0 20px;
    position: relative;
    margin: 0;
    top: 55px;
    left: 0;
  }
  #head #info-contact h5 {
    margin: 0;
    font-size: 16px;
    text-align: start;
    font-weight: 600;
  }
  #head #rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    left: 80px;
    position: relative;
  }
  #head #rate ion-icon[name="star"],
  #head #rate ion-icon[name="star-outline"] {
    color: #63696d;
  }
  #head #rate p {
    padding-left: 20px;
  }
  #head #follow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    top: 60px;
    left: 0;
  }
  #head #follow ion-icon[name="add-circle"] {
    top: 6px;
    left: -10px;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 175px;
    -webkit-box-shadow: 0 0px 1px 0 #63696d;
            box-shadow: 0 0px 1px 0 #63696d;
  }
  .menu ul {
    display: inline;
  }
  #tab {
    width: 80%;
    background-color: #fff;
    height: 400px;
    margin: 50px auto;
  }
  #tab #tabs .about div {
    display: none;
  }
  #tab #tabs .contact {
    display: table;
  }
  #tab #tabs .contact div {
    display: table;
    position: relative;
    background-color: #f5f8f8;
    margin: 1px 0;
    font-size: 14px;
    padding: 0;
    padding: 3px;
  }
  #tab #tabs .contact div #desktopPencil,
  #tab #tabs .contact div #desktopPencil2,
  #tab #tabs .contact div #desktopPencil3,
  #tab #tabs .contact div #desktopPencil4 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 28px;
    width: 28px;
    background-color: #ecf1f5;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #tab #tabs .contact div #desktopPencil:hover,
  #tab #tabs .contact div #desktopPencil2:hover,
  #tab #tabs .contact div #desktopPencil3:hover,
  #tab #tabs .contact div #desktopPencil4:hover {
    background-color: #007ee5;
    color: #fff;
  }
  #tab #tabs .contact div #desktopPencil ion-icon[name="pencil-sharp"],
  #tab #tabs .contact div #desktopPencil2 ion-icon[name="pencil-sharp"],
  #tab #tabs .contact div #desktopPencil3 ion-icon[name="pencil-sharp"],
  #tab #tabs .contact div #desktopPencil4 ion-icon[name="pencil-sharp"] {
    height: 16px;
    width: 16px;
  }
  #tab #tabs #modal,
  #tab #tabs #modal2,
  #tab #tabs #modal3,
  #tab #tabs #modal4 {
    background-color: #fff;
    -webkit-box-shadow: 0 0px 5px 0 #a6b0b7;
            box-shadow: 0 0px 5px 0 #a6b0b7;
    display: none;
    position: absolute;
    width: 230px;
    height: 110px;
    top: 20px;
    left: 120px;
    z-index: 99;
  }
  #tab #tabs #modal::after,
  #tab #tabs #modal2::after,
  #tab #tabs #modal3::after,
  #tab #tabs #modal4::after {
    content: '';
    position: absolute;
    left: 0;
    top: 15%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #fff;
    border-left: 0;
    margin-top: -10px;
    margin-left: -10px;
  }
  #tab #tabs #modal form,
  #tab #tabs #modal2 form,
  #tab #tabs #modal3 form,
  #tab #tabs #modal4 form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #tab #tabs #modal form .input-field,
  #tab #tabs #modal2 form .input-field,
  #tab #tabs #modal3 form .input-field,
  #tab #tabs #modal4 form .input-field {
    width: 200px;
    margin: 20px 15px 0 15px;
    background-color: #fff;
  }
  #tab #tabs #modal form .input-field input,
  #tab #tabs #modal2 form .input-field input,
  #tab #tabs #modal3 form .input-field input,
  #tab #tabs #modal4 form .input-field input {
    color: #63696d;
    padding-top: 15px;
  }
  #tab #tabs #modal form .input-field label,
  #tab #tabs #modal2 form .input-field label,
  #tab #tabs #modal3 form .input-field label,
  #tab #tabs #modal4 form .input-field label {
    color: #63696d;
    opacity: 0.5;
    font-size: 10px;
  }
  #tab #tabs #modal form .input-field section #save,
  #tab #tabs #modal2 form .input-field section #save,
  #tab #tabs #modal3 form .input-field section #save,
  #tab #tabs #modal4 form .input-field section #save {
    font-size: 10px;
    background-color: #007ee5;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #007ee5;
    border-radius: 3px;
  }
  #tab #tabs #modal form .input-field section #cancel,
  #tab #tabs #modal2 form .input-field section #cancel,
  #tab #tabs #modal3 form .input-field section #cancel,
  #tab #tabs #modal4 form .input-field section #cancel {
    font-size: 10px;
    background-color: #fff;
    color: #007ee5;
    padding: 5px 15px;
    border: 1px solid #007ee5;
    border-radius: 3px;
  }
  #tab #tabs #modal2 {
    top: 20px;
    left: 145px;
    display: none;
  }
  #tab #tabs #modal3 {
    top: 20px;
    left: 160px;
    display: none;
  }
  #tab #tabs #modal4 {
    top: 15px;
    left: 170px;
    display: none;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    #head header {
      display: block;
    }
  }
}
/*# sourceMappingURL=style.css.map */